
<div>New user? Register here!</div>
<form>
    Your first name <br>
    <input type="text" id="userFirstName">
    <br>
    Your Last name
    <br>
    <input type="text" id="userLastName">
    <br>
    Your Email address
    <br>
    <input type="text" id="userEmailAddress">
    <br>
    Your user name <br>
    <input type="text" id="userUsername">
    <br>
    Your password <br>
    <input type="password" id="userPassword">
    <br>
    Confirm Password <br>
    <input type="password" id="userPasswordConfirm">
    <br>
    <button id="registerUser">Register</button>


</form>
<div>Alerady a member? Sign up here!</div>
<form>
    Your username <br>
    <input type="text" id="userName">
    <br>
    Your password
    <br>
    <input type="password" id="loginPassword">
    <br>
    <button id="login">Login</button>
</form>
<div id="userMessages"></div>

