<div class="container" id="userLoginContainer">
    <div class="row">
        <div class="col-md-8">
            <div class="well">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>New user? Register here!</legend>
                        Your first name <br>
                        <input type="text" id="userFirstName">
                        <br>
                        Your Last name
                        <br>
                        <input type="text" id="userLastName">
                        <br>
                        Your Email address
                        <br>
                        <input type="text" id="userEmailAddress">
                        <br>
                        Your user name <br>
                        <input type="text" id="userUsername">
                        <br>
                        Your password <br>
                        <input type="password" id="userPassword">
                        <br>
                        Confirm Password <br>
                        <input type="password" id="userPasswordConfirm">
                        <br>
                        <button id="registerUser">Register</button>
                        <br>
                        <br>
                        <div id="userRegisterMessages"></div>
                    <legend>Alerady a member? Sign up here!</legend>
                    Your username <br>
                    <input type="text" id="userName">
                    <br>
                    Your password
                    <br>
                    <input type="password" id="loginPassword">
                    <br>
                    <button id="login">Login</button>

                    <div id="userMessages"></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>